<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kosa.hdit5spring.whereru.chat.mapper.ChatMapper">

	<insert id="insertChat" statementType="CALLABLE" parameterType="ChatVO">
		CALL INSERTCHAT(#{chatSender}, #{chatReceiver}, #{chatType}, #{chatContent}, #{chatDate})
	</insert>

	<insert id="selectAllChat">
		select * from book;
	</insert>
	
	<select id="selectAllChatRoom" parameterType="String" resultType="ChatListVO">
		<![CDATA[
	         SELECT rsc.room_seq, rsc.sender_name, rsc.chat_count, cl.chat_seq, cl.chat_type, cl.chat_content, cl.chat_date
FROM (SELECT co.room_seq, ru.sender_name, co.chat_count
        FROM ((SELECT t.room_seq, COUNT(CASE WHEN c.chat_checked = 'false' THEN 1 END) AS chat_count
                FROM chatlist c JOIN tb_chatting t ON c.room_seq = t.room_seq
                WHERE c.chat_receiver = (SELECT user_seq FROM tb_user WHERE user_id = #{userId})
                GROUP BY t.room_seq) co 
            JOIN 
                (SELECT u.user_name as sender_name, c2.room_seq
                FROM TB_USER u, TB_CHATTING c2
                WHERE user_id != #{userId} AND ((c2.USER_SEQ1 = u.user_seq) OR (c2.USER_SEQ2 = u.user_seq))) ru ON co.room_seq = ru.room_seq)) rsc
        JOIN
        (SELECT c.room_seq, cl.chat_seq, cl.chat_type, cl.chat_content, cl.chat_date
        FROM chatlist cl JOIN tb_chatting c ON cl.room_seq = c.room_seq
        WHERE c.room_seq IN (SELECT room_seq
                            FROM chatlist
                            WHERE chat_receiver = (SELECT user_seq FROM tb_user WHERE user_id = #{userId}))
            AND cl.chat_seq = (SELECT MAX(chat_seq)
                                FROM chatlist
                                WHERE room_seq = cl.room_seq)) cl 
        ON rsc.room_seq = cl.room_seq
        ORDER BY cl.chat_seq DESC
		]]>
	</select>
</mapper>