<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="kosa.hdit5spring.whereru.notice.mapper.NoticeMapper">
	<resultMap type="UserVO" id="UserVOMap">
		<result column="user_seq" property="userSeq" />
		<result column="user_name" property="userName" />
		<result column="user_id" property="userId" />
		<result column="user_pw" property="userPw" />
	</resultMap>
<!-- 작동안함 오류 -->
<!-- 	 토큰리스트가져오기
	<select id="getTokenList" parameterType="int"
		resultType="String">
		SELECT user_token
		  FROM tb_user
		 WHERE user_seq != #{userSeq}
	</select> -->

</mapper>  